package {{package}}.handler;

import io.americanexpress.synapse.client.rest.handler.BaseRestResponseErrorHandler;
import org.springframework.stereotype.Component;

/**
* {@code {{errorHandlerClassName}} } handles errors for {{clientName}} client.
*/
@Component
public class {{errorHandlerClassName}} extends BaseRestResponseErrorHandler {
}
