package {{package}};

import com.fasterxml.jackson.databind.ObjectMapper;
import {{modelPackage}}.{{requestModel}};
import io.americanexpress.synapse.client.rest.factory.BaseClientHttpHeadersFactory;
import org.springframework.http.HttpHeaders;
import org.springframework.http.MediaType;
import org.springframework.stereotype.Component;

/**
* {@code {{headersFactoryClassName}} } creates headers for the {{clientName}} reactive client.
*/
@Component
public class {{headersFactoryClassName}} extends BaseClientHttpHeadersFactory<{{requestModel}}> {

/**
* Initialize the client http headers factory.
*
* @param mapper the mapper
*/
protected {{headersFactoryClassName}}(ObjectMapper mapper) {
super(mapper);
}

@Override
public HttpHeaders create(HttpHeaders clientHeaders, {{requestModel}} request, String url) {
HttpHeaders headers = new HttpHeaders();
headers.setContentType(MediaType.APPLICATION_JSON);
return headers;
}
}